<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Assessment</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/assessments">Assessments</a></li>
            <li class="active">Add</li>
        </ol>
        <div class="page-header">
            <h1>Add Assessment</h1>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                    <input type="text" class="form-control" id="assessment-due" placeholder="Due">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                    <input type="text" class="form-control" id="assessment-title" placeholder="Title">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">%</span>
                    <input type="text" class="form-control" id="assessment-worth" placeholder="Worth">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label>Course</label>
                <select class="form-control" id="assessment-course">
                    {% for course in courses %}
                        <option value="{{ course.get_id() }}">{{ course.get_id() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group form-group-lg">
                <label>Category (optional)</label>
                <select class="form-control" id="assessment-category">
                    {% for category in categories %}
                        <option value="{{ category.category_id }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="button" class="btn btn-lg btn-primary btn-block create-assessment">Create</button>
        </form>
    </div>
    <script>
        $('.create-assessment').click(function(e){
            due = $('#assessment-due').val();
            title = $('#assessment-title').val();
            worth = $('#assessment-worth').val();
            course = $('#assessment-course').val();
            category = $('#assessment-category').val();
            $.ajax({
                method: "PUT",
                url: "/api/assessment",
                data: { due: due, title: title, worth: worth, course: course, category: category }
            });
        });
    </script>
</body>
</html>