<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ assessment.get_title() }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/assessments">Assessments</a></li>
            <li class="active">{{ assessment.get_title() }}</li>
        </ol>
        <div class="page-header">
            <h1>
                {{ assessment.get_title() }}
                <span class="label label-{{ assessment.get_course().get_color() }} pull-right">
                    {{ assessment.get_course().get_id() }}
                    {% if assessment.get_category() %}
                        / {{ assessment.get_category().get_title() }}
                    {% endif %}
                </span>
            </h1>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Worth: {{ assessment.get_worth() }}%</li>
            <li class="list-group-item">Due: {{ assessment.get_due()|date }}</li>
            <li class="list-group-item">Result: {{ assessment.get_result() }}</li>
            <li class="list-group-item">Done: {{ assessment.get_done() }}</li>
        </ul>
    </div>
</body>
</html>